body {
  font-family: "Poppins";
}

.main-headerComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;

  background-image: linear-gradient(to right, #353198, #4a55cf);
}

.logo-header {
  margin-top: 1rem;
}

.ul-headerComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 4rem;

  font-size: 1.3rem;
  color: white;
}

.ul-headerComponent li a {
  text-decoration: none;
  color: white;
}

.ul-headerComponent li button {
  color: #353198;
  background-color: white;
  border: 1.4px solid white;
  border-radius: 3rem;
  padding: 0.6rem 3rem;
  font-size: 1.3rem;
  transition: 0s ease-in-out;

  cursor: pointer;
}

.ul-headerComponent li button:hover {
  background-color: #4a55cf;
  color: white;
}

/* icone burguer */

.bm-burger-button {
  display: none;
  position: absolute;
  width: 2.3rem;
  height: 2rem;
  right: 3rem;
  top: 2.6rem;
}

.bm-burger-bars {
  background: white;
  border-radius: 2rem;
}

.bm-cross {
  display: none;
  background: #bdc3c7;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* menu burguer */

ul.bm-item.ul-headerComponent {
  margin: 0 3.4rem;
  padding: 3rem 0;
}

.bm-menu {
  align-items: center;
  background: #343198b6;
  font-size: 1.15em;

  position: fixed;
  top: 7.1rem;
  right: 0;
}

.bm-item-list {
  position: static;
  color: #b8b7ad;
  padding: 0;
  margin: 0;
}

.bm-item {
  display: inline-block;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;

  position: fixed;
  top: 7.1rem;
  right: 0;
}

@media screen and (max-width: 1155px) {
  .main-headerComponent {
    justify-content: center;
  }

  .ul-headerComponent {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }
}
